/*  
    @media screen and (max-width: 768px) {}
    @media screen and (min-width:769px) and (max-width:991px) {}
    @media screen and (min-width: 992px) {}
*/

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}


img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    display: inline-block;
}


.display-flex {
    display: flex;
}

/* HEADER */

header {
    background-color: rgb(46, 58, 70);
    padding: 10px;
}

header img {
    width: 50px;
    height: 50px;
}

/* MAIN */

main {
    background-color: #1e2e3c;
    height: 500px;
}

.cd-container {
    padding: 60px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.cd {
    width: calc((100% / 6) - 50px);
    text-align: center;
    background-color: rgb(46, 58, 70);
    padding: 20px;    
    margin: 0 20px;
    margin-bottom: 20px;

}

.cd-title {
    color: white;
    margin: 20px 0;
    font-size: 25px;

}

.cd-author,
.cd-year {
    font-size: 18px;
    color: grey;
}